<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Shorten">
        </form>
        {% if data %}
            <div>
                <p>
                    Shortened url : {{ data.shortened_url }}<br>
                    Hits           : {{ data.hits }}<br>
                    <a href={{ data.shortened_url }}>Hit</a><br>
                    <a href="{% url 'shortener' %}">Shorten New</a>
                </p>
            </div>
        {% endif %}
        {% if msg %}
            <div>
                <p>
                   Error: {{msg}}
                </p>
            </div>
        {% endif %}
    </body>
</html>